body {
  margin: 0;
  background-color: #f4f4f4;
}

.header {
  background-color: #fcd678;
  height: 70px;
  display: flex;
  align-items: center;
}

.header h1 {
  margin: 0 auto;
  color: black;
  font-family: "Varela Round", sans-serif;
  font-size: 30px;
}

.main {
  font-family: "Baloo Paaji 2", cursive;
}

.image-container {
  background-color: #eaeaea;
  padding: 20px 15px;
}

.image {
  width: 90%;
  display: block;
  margin: 0 auto;
  border-radius: 3px;
}

.contact ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.fa-whatsapp {
  position: relative;
  top: 2px;
  font-size: 20px;
  color: #00d221;
}

.info,
.contact,
.footer {
  padding: 0px 20px 0px 20px;
}

.info p {
  margin-top: 0px;
}

.footer {
  background-color: #fcd678;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer span {
  font-family: "Baloo Paaji 2", cursive;
  font-weight: 500;
}

.footer span a {
  font-weight: 700;
}
